REACT_APP_URL_NASA_API = "https://api.nasa.gov/planetary/apod?api_key=8f1Jq445klYvL82xfyn4SV4HiDjI8eoIHlwuGUZ1"
REACT_APP_URL_MARVEL_API = `https://gateway.marvel.com:443/v1/public/characters?ts=1&apikey=95fe21bed15c88b7745444b1cecd8028&hash=aabcf4a6d3c58756eced678ebcda47c1&limit=8&`